@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  color: #1f2937;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
